:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    background:var(--bg) ;
}

ul {
    font-family:helvética;
}

li {
list-style: circle;
}

.list {
    list-style: square;
}

 /*#msg {
    font-family: monospace;
} */

.btn{
    position: absolute;
    top: 20p;
    left: 250px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background: rgba(32, 121, 173, 0.336);
}

.btn:focus {outline-style: none;}

.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);

}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}